.nsa-table {height:auto;}
.pad-input {padding:8px;}
.nsa-card__header__block .item__text{
    line-height: 2;
}
.modal .modal-loader .model-content{
    box-shadow: none;
    background: none;
    border: none;
}
.nsa-card__header__block--last {
    padding-bottom: 17px;
}
.spinner-card {
    margin-top:10px;
}
.nsa-textarea__textarea {
    min-height: 100px;
}

.table-modal {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.nsa-card__header__block .nsa-input {
    height:36px;
}
.mr-auto, .mx-auto {
    margin-right: auto;
    margin-right: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
button, input {
    overflow: visible;
    text-transform: none;
    outline:none;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
*:focus {
    outline: 0 !important;
}

.nsa-header--has-box-search {
    height: 108px;
}
.pagination {
    margin: 20px 0 0 0;
}
.pagination > li > a, .pagination > li > span {
    padding: 2px 10px;
}
.l-main {
    overflow-x:hidden;
    background: #f6f6f6;
}
.colum-container .nsa-column__footer {
    bottom: 10px;
}
.stepper-container {
    height:80vh;
}
.nsa-datepicker__input {
    cursor:pointer;
}
.collapse {
    transition: width 0.5s ease-in;
}
.btn .anomaly {
    top: 53%;
    padding-bottom: 1px;
    padding-top: 0;
}
.checkbox_custom {
    height: 8px;
}
.gr {
    position: absolute;
    right: 6px;
    padding: 7px;
}
.button-left {
    position: absolute;
    left: 0;
    top: 0;
}
.header-hidden {
    height: 45px;
    transition: height 1s;
}
.button-hidden{
    display: none;
    transition-delay: 1s;
}
.button-top {
    z-index:999;
}
.nsa-header--has-box-search {
    transition: height 1s;
}
.header-hidden .nsa-box-search-hidden{
    display:none;
    transition-delay: 2s;
}
.arrow-top-header {
    width: 500px;
    position: absolute;
    top: 74px;
    text-align: center;
    left: 30%;
    cursor:pointer;
    transition-delay: 2s;
}
.nsa-table:after {
    height: 512px;
}
.card-order-information-container {
    height: 512px;
}

