<div class="nsa-subheader" >
    <div class="nsa-subheader__content">
        <h1 class="nsa-subheader__title">Ordine per: Raccomandata</h1>
        <div class="nsa-subheader__container-items">
            <div class="item">
                <span class="item__title">Accettazione</span>
                <span class="item__description">N°A1234567</span>
            </div>
            <div class="item">
                <span class="item__title">Spedizione</span>
                <span class="item__description">Non programmata</span>
            </div>
            <div class="item">
                <span class="item__title">Livello di servizio</span>
                <span class="item__description">J4 - J6</span>
            </div>
        </div>
    </div>
    <div class="nsa-subheader__content nsa-subheader__content--last">
        <a href="#" class="nsa-link-16-700">{{order.client}}</a>
        <span class="nsa-subheader__text">Codice SAP: 123456789</span>
        <div class="nsa-subheader__divider-line"></div>
        <a href="#" class="nsa-link-14-400">giacomo.verdi@tim.it</a>
    </div>
</div>
<div class="colum-container stepper-container" >

    <div class="nsa-column nsa-column--main-large" ng-repeat="(indexstep, step) in dataStep.step" ng-if="stepCircle[indexstep]">
        <!--{{dataStep.step[indexstep]}}-->
        <!--STEP-->
        <stepper-type ng-show="stepCircle[indexstep] && !stepCircle[indexstep].length"  value-detail="tabledetail" modal-position="modalPosition" table-detail="headerTableDetail" type="step.model" step-number="indexstep + 1 + '.'" form-data="dataStep.step[indexstep]"></stepper-type>
        <!--SOTTO STEP-->
        <stepper-type ng-repeat="(indexUnStep, ustep) in step.step" ng-show="stepCircle[indexstep][indexUnStep]" modal-position="modalPosition" value-detail="tabledetail" table-detail="headerTableDetail" type="ustep.model" step-number="indexstep + 1 + '.'" sottostep-number="indexUnStep + 1" form-data="dataStep.step[indexstep].step[$index]"></stepper-type>

    </div>

    <div class="nsa-column nsa-column--aside-small l-flex-colum-between">
        <div class="nsa-shopping-card " >
            <div class="nsa-accordion">
                <div class="nsa-accordion__header">
                    <div class="nsa-accordion__header__title">
                        <h6 class="title-main">Provider contract</h6>
                        <p class="practice-number">12345678-004</p>
                    </div>
                    <div class="nsa-accordion__header__action"
                         data-toggle="collapse"
                         data-target="#accordion2"
                         ng-click="collapse=!collapse" aria-expanded="{{!collapse || false}}"
                         ng-class="collapse ? 'collapsed' : ''">
                        <span class="icomoon icomoon-arrow-top " ></span>
                    </div>
                </div>

                <div id="accordion2" class="collapse " ng-class="collapse ? '' : 'show'">
                    <ul class="nsa-accordion__content">
                        <li class="nsa-accordion__content__list-item">
                            <div class="item__title">
                                <p class="title-main">Conto proprio</p>
                                <p class="title-subtitle">Pagamento anticipato</p>
                            </div>
                            <p class="item__price">200,00 €</p>
                        </li>

                        <li class="nsa-accordion__content__list-item item">
                            <p class="item__title--noproduct">Nessun prodotto nel carrello</p>
                        </li>
                    </ul>
                </div>

                <div class="nsa-accordion__footer">
                    <div class="nsa-accordion__footer__title">
                        <p class="title-main">Saldo</p>
                        <span class="icomoon icomoon-mark"></span>
                    </div>
                    <p class="nsa-accordion__footer__price">100,00 €</p>
                </div>
            </div>
        </div>
        <div class="u-mb-10 l-row-center ">
            <button type="button" class="btn btn-primary is-large" disabled="" >
                finalizza
            </button>
        </div>
    </div>
</div>