<main class="l-main" style="overflow-x:hidden">
    <form name="utente">
    <h2 class="t-intestation">Anagrafica</h2>
    <div class="d-flex mb-5">

        <div class="u-mr-25">
            <div class="nsa-checkbox" --skeleton="checkbox-partial">
                <input class="nsa-checkbox__input" type="text" id="name" name="name" >
                <label class="nsa-checkbox__label" for="check4">Item 1</label>
            </div>
        </div>

    </div>
    <h2 class="t-intestation">Gruppi</h2>
<div class="d-flex mb-5">

    <div class="u-mr-25">
        <div class="nsa-checkbox" --skeleton="checkbox-partial">
            <input class="nsa-checkbox__input" type="checkbox" id="check4" name="checkname" aria-checked="false">
            <label class="nsa-checkbox__label" for="check4">Item 1</label>
        </div>
    </div>

</div>
<h2 class="t-intestation">Ruoli</h2>
<div class="d-flex mb-5">

    <div class="u-mr-25">
        <div class="nsa-checkbox" --skeleton="checkbox-partial">
            <input class="nsa-checkbox__input" type="checkbox" id="check4" name="checkname" aria-checked="false">
            <label class="nsa-checkbox__label" for="check4">Item 1</label>
        </div>
    </div>


</div>
</form>
</main>