<header class="nsa-header nsa-header&#45;&#45;mh" >
    <div class="nsa-box-search" ng-show="ricercaAttiva">
    <div class="form-group nsa-search">
        <label for="search" class="nsa-search__label">Crea un nuovo ordine:</label>
        <div id="js-nsa-search" class="nsa-search__container-input">
            <input
                    id="search"
                    type="text"
                    class="form-control nsa-search__input"
                    placeholder="Inserendo un Codice speditore o un Provider Contract/Conto Contrattuale"
                    autocomplete="off"
            />
            <div id="js-nsa-search-list" class="nsa-search-list">
                <span class="nsa-search-list__category">cliente</span>
                <span class="nsa-search-list__option">123456789</span>
                <span class="nsa-search-list__category">Provider contract/conto contrattuale</span>
                <span class="nsa-search-list__option">123456789-001</span>
                <span class="nsa-search-list__option">123456789-002</span>
                <span class="nsa-search-list__option">123456789-003</span>
                <span class="nsa-search-list__option">123456789-004</span>
                <span class="nsa-search-list__option">123456789-005</span>
            </div>
        </div>
        <div class="input-group-append nsa-search__button">
            <button
                    id="nsa-search-button"
                    type="button"
                    class="btn btn-outline-primary is-circle  "
                    disabled=""
            >
                <span class="icomoon icomoon-magnifying-glass"></span>
            </button>
        </div>
    </div>
</div>

<div class="nsa-header__mask"></div>
<div class="nsa-header__mask--bg"></div>
</header>