<header class="nsa-header " ng-class="viewHeader ? 'nsa-header--has-box-search' : 'header-hidden'" >
    <div class="u-mr-15 " ng-class="viewHeader ? 'button-hidden' : 'button-top'">
        <button type="button" class="btn btn-primary" ng-click="viewHeader=!viewHeader">
            Crea un nuovo ordine
        </button>
    </div>
    <div class="" ng-class="viewHeader ? 'nsa-box-search' : 'nsa-box-search-hidden'" >
        <div class="form-group nsa-search" >
            <label for="search" class="nsa-search__label">Crea un nuovo ordine:</label>
            <div id="js-nsa-search" class="nsa-search__container-input">
                <input id="search" type="text" class="form-control nsa-search__input" placeholder="Inserendo un Codice speditore o un Provider Contract/Conto Contrattuale" autocomplete="off">
                <div id="js-nsa-search-list" class="nsa-search-list">
                    <span class="nsa-search-list__category">cliente</span>
                    <span class="nsa-search-list__option">123456789</span>
                    <span class="nsa-search-list__category">Provider contract/conto contrattuale</span>
                    <span class="nsa-search-list__option">123456789-001</span>
                    <span class="nsa-search-list__option">123456789-002</span>
                    <span class="nsa-search-list__option">123456789-003</span>
                    <span class="nsa-search-list__option">123456789-004</span>
                    <span class="nsa-search-list__option">123456789-005</span>
                </div>
            </div>
            <div class="input-group-append nsa-search__button">
                <button id="nsa-search-button" type="button" class="btn btn-outline-primary is-circle" disabled="" ></button>
            </div>
        </div>
        <span class="glyphicon glyphicon-chevron-up arrow-top-header" aria-hidden="true" ng-click="viewHeader=!viewHeader"></span>
    </div>

    <div class="nsa-header__mask"></div>
    <div class="nsa-header__mask--bg"></div>

</header>