<div  style="min-height: 480px;">
    <div class="l-flex-between u-mb-15">
        <div aria-label="breadcrumb" class="nsa-breadcrumb-container" --skeleton="breadcrumb-partial">
            <ol class="breadcrumb">
                <li class="breadcrumb-item ">
                    <a href="#">2.1. Servizi aggiuntivi</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="javascript:void(0)">2.2 Servizi aggiuntivi</a>
                </li>
            </ol>
        </div>
        <button type="button" class="btn btn-outline-secondary more-pd-left" --skeleton="button-partial">
            servizio
            <span class="icomoon left icomoon-add"></span>
        </button>
    </div>

    <div class="l-flex-between u-mb-15">
        <span class="code-jump">Posizioni del provider contract <a href="#" class="nsa-link-14-500">12345678-004</a></span>
    </div>

    <div class="nsa-service-box nsa-service-box--has-mb" --skeleton="service-box-partial">
        <span class="nsa-service-box__text">Servizio 1 - 8,00€</span>
        <a href="">
            <span class="icomoon icomoon-trash-bin"></span>
        </a>
    </div>
    <div class="nsa-service-box" --skeleton="service-box-partial">
        <span class="nsa-service-box__text">Servizio 2 - 5,50€</span>
        <a href="">
            <span class="icomoon icomoon-trash-bin"></span>
        </a>
    </div>

    <div class="l-flex-between u-mb-15 u-mt-40">
        <span class="code-jump">Posizioni del provider contract <a href="#" class="nsa-link-14-500">12345678-005</a></span>
    </div>

    <div class="nsa-service-box" --skeleton="service-box-partial">
        <span class="nsa-service-box__text">Servizio 3 - 8,00€</span>
        <a href="">
            <span class="icomoon icomoon-trash-bin"></span>
        </a>
    </div>

    <div class="nsa-column__footer">
        <button type="button" class="btn btn-outline-secondary" --skeleton="button-partial">
            anomalie
        </button>
        <div class="l-flex-between u-w-30">
            <a href="" class="nsa-button-link " title="Salva e chiudi" --skeleton="button-link-partial">
                <span class="nsa-link-14-500 nsa-link--has-underline">Salva e chiudi</span>
                <span class="icomoon icomoon-"></span>
            </a>

            <button type="button" class="btn btn-navigation " --skeleton="button-partial">
                avanti
                <span class="icomoon right icomoon-arrow-right"></span>
            </button>
        </div>
    </div>
</div>