<div  style="min-height: 480px;">
    <div class="l-flex-between u-mb-25">
        <span class="title-page-step">4. Allestimento e fornitura</span>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="nsa-dropdown" --skeleton="nsa-dropdown">
                <label for="dropdown-1" class="nsa-dropdown__label">TIPOLOGIA DI PESATURA</label>
                <select class="nsa-dropdown__select" id="dropdown-1" tabindex="-1" style="display: none;" data-ssid="ss-40963">
                    <option value="1">Seleziona tipologia pesatura</option>
                    <option value="10">Item 1</option>
                    <option value="20">Item 2</option>
                    <option value="30">Item 3</option>
                    <option value="40">Item 4</option>
                </select><div class="ss-40963 ss-main nsa-dropdown__select" style=""><div class="ss-single-selected"><span class="placeholder">Seleziona tipologia pesatura</span><span class="ss-deselect ss-hide">x</span><span class="ss-arrow"><span class="arrow-down"></span></span></div><div class="ss-content"><div class="ss-search ss-hide"><input readonly="" type="search" placeholder="Search" tabindex="0" aria-label="Search"></div><div class="ss-list"><div class="ss-option ss-disabled ss-option-selected" data-id="18035391">Seleziona tipologia pesatura</div><div class="ss-option" data-id="76464349">Item 1</div><div class="ss-option" data-id="4124997">Item 2</div><div class="ss-option" data-id="68943470">Item 3</div><div class="ss-option" data-id="18051881">Item 4</div></div></div></div>

            </div>
        </div>
        <div class="col-sm-6">
            <span class="label-radio">spedizione cumulativa</span>
            <div class="d-flex">
                <div class="col-sm-2">
                    <div class="nsa-radio" >
                        <input class="nsa-radio__input" type="radio" id="radio-41" name="radio-page-4" checked="" aria-checked="true">
                        <label class="nsa-radio__label" for="radio-41">SI</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="nsa-radio">
                        <input class="nsa-radio__input" type="radio" id="radio-111" name="radio-page-4" checked="" aria-checked="true">
                        <label class="nsa-radio__label" for="radio-111">NO</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nsa-column__footer">
        <button type="button" class="btn btn-outline-secondary" --skeleton="button-partial">
            anomalie
        </button>
        <div class="l-flex-between u-w-30">
            <a href="" class="nsa-button-link " title="Salva e chiudi" --skeleton="button-link-partial">
                <span class="nsa-link-14-500 nsa-link--has-underline">Salva e chiudi</span>
                <span class="icomoon icomoon-"></span>
            </a>
            <button type="button" class="btn btn-navigation" disabled="" --skeleton="button-partial">
                crea fornitura
            </button>
        </div>
    </div>
</div>