<div class="nsa-column__footer">
    <button type="button" class="btn btn-outline-secondary" >
        anomalie
        <span class="anomaly" ng-if="anomalie > 0">{{anomalie}}</span>
    </button>
    <div class="l-flex-between u-w-30">
        <a href="" class="nsa-button-link " title="Salva e chiudi" >
            <span class="nsa-link-14-500 nsa-link--has-underline">Salva e chiudi</span>
            <span class="icomoon icomoon-"></span>
        </a>
        <button type="button" class="btn btn-navigation " ng-disabled="formName.$invalid">
            {{textAvanti}}
        </button>

    </div>
</div>