    <div  style="min-height: 480px;">
        <form name="distinta">
    <div class="l-flex-between ">
        <div aria-label="breadcrumb" class="nsa-breadcrumb-container" >
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="">{{stepNumber}}{{sottostepNumber}} {{formData.title}}</a>
                </li>
            </ol>
        </div>
        <div class="scanner-container">
                            <span class="scanner-container__title">
                              Scanner pronto
                            </span>
            <span class="scanner-container__img-scanner">
                              <span class="icomoon icomoon-ok"></span>
                            </span>
        </div>
    </div>

    <div class="row l-flex-end u-mt-20">
        <div class="col-sm-5">
            <div class="nsa-input is-disabled" >
                <label class="nsa-input__label nsa-input__label__btn-plus" for="input--6">CODICE OGGETTO</label>
                <div class="nsa-input__button-add-container">
                    <input type="input" name="codice" class="nsa-input__input" id="input--6" placeholder="Inserisci codice" value="" disabled="">
                    <button type="button" class="" disabled="" >
                        <span>+</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="nsa-button-upload-file is-disabled" >
                <div class="file-upload">
                    <input type="file" disabled="">
                    <span class="icomoon icomoon-upload"></span>
                    <span>carica distinta</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="row l-flex-end  u-mt-35">
        <div class="col-sm-4">
            <div class="nsa-input has-border">
                <label class="nsa-input__label" for="primocodice">Primo codice</label>
                <input type="input"
                       name="primocodice"
                       ng-model="formData.data.primocodice"
                       class="nsa-input__input nsa-input__input--has-cross "
                       ng-class="formData.data.primocodice ? 'nsa-input__input--is-valid-code' : 'nsa-input__input--is-invalid-code'"
                       id="primocodice"
                       required
                       >
                <a href=""
                   ng-class="formData.data.primocodice ? 'nsa-input__cross--is-valid-code' : 'nsa-input__cross--is-invalid-code'"
                   class="nsa-input__cross "
                   ng-click="formData.data.primocodice = ''">
                    <span class="icomoon icomoon-cross"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="nsa-input has-border">
                <label class="nsa-input__label" for="ultimocodice">Ultimo codice</label>
                <input type="input"
                       name="ultimocodice"
                       ng-model="formData.data.ultimocodice"
                       class="nsa-input__input nsa-input__input--has-cross "
                       id="ultimocodice"
                       ng-class="formData.data.ultimocodice ? 'nsa-input__input--is-valid-code' : 'nsa-input__input--is-invalid-code'"
                       placeholder=""
                       required>
                <a href="" class="nsa-input__cross"
                   ng-class="formData.data.ultimocodice ? 'nsa-input__cross--is-valid-code' : 'nsa-input__cross--is-invalid-code'"
                   ng-click="formData.data.ultimocodice = ''">
                    <span class="icomoon icomoon-cross"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="loader-container">
                <span class="icomoon icomoon-mark"></span>
                <div class="loader-container__text">
                    Controllo NPSO <br>
                    eseguito con successo
                </div>
            </div>
        </div>
    </div>

    <div class="row l-flex-between  u-mt-55">
        <div class="col-sm-4">
            <span class="code-jump">Sono presenti salti di codice?</span>
        </div>

        <div class="col-sm-5">
            <div class="l-flex-between">
                <button type="button" class="btn btn-outline-secondary more-pd-left" >
                    range
                    <span class="icomoon left icomoon-cross"></span>
                </button>
                <button type="button" class="btn btn-outline-secondary more-pd-left">
                    singoli dati
                    <span class="icomoon left icomoon-cross"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row l-flex-end u-mt-30 ">
        <div class="col-sm-4">
            <div class="nsa-input has-border" >
                <label class="nsa-input__label" for="rangeup">Range</label>
                <input type="input" name="rangeup" ng-model="dataStep.step[indexstep].data.rangestart" class="nsa-input__input" id="rangeup"  placeholder="" readonly="">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="nsa-input has-border" >
                <label class="nsa-input__label" for="rangedown"></label>
                <input type="input" name="rangedown" ng-model="dataStep.step[indexstep].data.rangefinish" class="nsa-input__input" id="rangedown" placeholder="" readonly="">
            </div>
        </div>
    </div>

    <div class="row l-flex-end  u-mt-35">
        <div class="col-sm-4">
            <div class="nsa-input has-border">
                <label class="nsa-input__label" for="salti">Singoli salti</label>
                <input type="input" name="salti" class="nsa-input__input" ng-model="dataStep.step[indexstep].data.singledata" id="salti" placeholder="">
            </div>
        </div>
    </div>

    <div class="row l-flex-end  u-mt-55">
        <div class="col-sm-4">
            <div class="loader-container" >
                <span class="icomoon icomoon-mark"></span>
                <div class="loader-container__text">
                    Controllo T&amp;T eseguito con successo
                </div>
            </div>
        </div>
    </div>

    <div class="nsa-column__footer">
        <button type="button" class="btn btn-outline-secondary" >
            anomalie
        </button>
        <div class="l-flex-between u-w-30">
            <a href="" class="nsa-button-link " title="Salva e chiudi" >
                <span class="nsa-link-14-500 nsa-link--has-underline">Salva e chiudi</span>
                <span class="icomoon icomoon-"></span>
            </a>
            <button type="button" class="btn btn-navigation " ng-disabled="distinta.$invalid">
                crea distinta
            </button>

        </div>
    </div>
        </form>
</div>
