    <h1 class="nsa-title-page u-mt-20">Ordini in lavorazione</h1>
<div class="u-mt-15 u-pos-relative l-flex-center">
    <div><button type="button" class="btn btn-outline-secondary  button-left" ng-click="listWorkingProgress()">
        Aggiorna
    </button>
    </div>
    <div class="nav nsa-nav-tabs">
        <a href="" ng-click=" changeTab('coda');" class="nsa-nav-tabs__item" ng-class="tabActive == 'coda' ? 'active' : ''"  data-target="#tab1" data-toggle="tab">
            In coda ({{righeTotalOrdersInLine}})
        </a>
        <a href="" ng-click="changeTab('conclusi');" class="nsa-nav-tabs__item" ng-class="tabActive == 'conclusi' ? 'active' : ''" data-target="#tab2" data-toggle="tab">
            conclusi ({{righeTotalOrdersCompleted}})
        </a>
        <a href="" ng-click="changeTab('bloccati');" class="nsa-nav-tabs__item" ng-class="tabActive == 'bloccati' ? 'active' : ''" data-target="#tab2" data-toggle="tab">
            bloccati ({{righeTotalOrdersBlocked}})
        </a>
    </div>
    <div class="u-pos-absolute pos-bl" >
        <a href="" class="nsa-button-link " style="float:left"  title="Filtra per" ng-click="modalFilterProcess()">
            <span class="nsa-link-14-500 nsa-link--has-underline">Filtra per</span>
            <span class="icomoon icomoon-filter"></span>
        </a>
        <div class="nsa-tag" style="float:left" ng-if="filterView">
            <span class="nsa-tag__text">{{filterView.length}}</span>
            <a ng-click="cancellaFiltri()">
                <span class="icomoon icomoon-cross"></span>
            </a>
        </div>
    </div>

</div>
    <div class="u-pos-absolute pos-bl">
    </div>
</div>
<!--TABELLA ORDINI IN CODA-->
<div ng-if="tabActive == 'coda'">
    <div class="d-flex row">
        <div class="col-sm-4">
            <div class="alert alert-success" ng-show="viewMessage=='OK'">
                <div class="alert__content">
                    {{messageResponse}}
                </div>
            </div>
            <div class="alert alert-danger"  ng-show="viewMessage=='KO'">
                <div class="alert__content">
                    {{messageResponse}}
                </div>
            </div>
        </div>
    </div>
    <nsa-table
            dati="ordersinline"
            custom-header="headerTableOrdersInline"
            tipologia="tipologia"
            show-spinner="spinOn"
            function-edit="editOrdersInline"
            function-detail="detailOrdersInline"
            search=false
            number-items="righeTotalOrdersInLine"
            call-element="listWorkingProgress"
    ></nsa-table>
</div>
<!--TABELLA ORDINI CHIUSI-->
<div ng-if="tabActive == 'conclusi'">
    <div class="d-flex row">
        <div class="col-sm-4">
            <div class="alert alert-success" ng-show="viewMessage=='OK'">
                <div class="alert__content">
                    {{messageResponse}}
                </div>
            </div>
            <div class="alert alert-danger"  ng-show="viewMessage=='KO'">
                <div class="alert__content">
                    {{messageResponse}}
                </div>
            </div>
        </div>
    </div>
    <!--<nsa-table-->
            <!--dati="ordinifinish"-->
            <!--custom-header="headerTableOrdersFinish"-->
            <!--detail-views="modalFormOrdersFinish"-->
            <!--tipologia="tipologia"-->
            <!--show-spinner="spinOn4"-->
            <!--function-detail="detailOrdersFinish"-->
    <!--&gt;</nsa-table>-->
    <nsa-table
            dati="ordinifinish"
            custom-header="headerTableOrdersFinish"
            tipologia="tipologia"
            show-spinner="spinOn"
            function-edit=""
            function-detail="detailOrdersInline"
            search=false
            number-items="righeTotalOrdersCompleted"
            call-element="listWorkBlocked"
    ></nsa-table>
</div>
<!--TABELLA ORDINI BLOCCATI-->
<div ng-if="tabActive == 'bloccati'">
    <div class="d-flex row">
        <div class="col-sm-4">
            <div class="alert alert-success" ng-show="viewMessage=='OK'">
                <div class="alert__content">
                    {{messageResponse}}
                </div>
            </div>
            <div class="alert alert-danger"  ng-show="viewMessage=='KO'">
                <div class="alert__content">
                    {{messageResponse}}
                </div>
            </div>
        </div>
    </div>
    <!--<nsa-table-->
            <!--dati="ordiniblocked"-->
            <!--custom-header="headerTableOrdersBlocked"-->
            <!--detail-views="modalFormOrdersBlocked"-->
            <!--tipologia="tipologia"-->
            <!--show-spinner="spinOn2"-->
            <!--function-detail="detailOrdersBlocked"-->
    <!--&gt;</nsa-table>-->
    <nsa-table
            dati="ordiniblocked"
            custom-header="headerTableOrdersBlocked"
            tipologia="tipologia"
            show-spinner="spinOn"
            function-edit=""
            function-detail="detailOrdersBlocked"
            search=false
            number-items="righeTotalOrdersBlocked"
            call-element="listWorkFinished"
    ></nsa-table>
</div>